#inicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#presentacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

#titulo {
    font-size: 3.5rem;
    font-weight: bold;
}

#textos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#foto {
    width: 45%;
}

#foto img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}





footer {
    background-color: #1a1c22;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 5rem;
    justify-content: center;
}

hr{
    width: 50%;
    color: burlywood;
}

/* contacto */
.contacto-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.contacto-container h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Rationale", serif;
    text-transform: uppercase;
    color: white;
}

#datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    width: 100%;
    justify-content: space-around;
}

.dato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.puntito{
    border-radius: 50%;
    background-color: burlywood;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo_dato{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Rationale", serif;
    text-transform: uppercase;
}

#enlaces_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#footer_redes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-transform: capitalize;
}

#footer_redes a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 2rem;
}

#footer_texto p {
    color: #babbbd;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 2rem;
}